In [1]:
import time
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import concurrent.futures

import duckdb

conn = duckdb.connect('/global/scratch/users/empchase/Seq_analysis/mydb.db') # create an in-memory database

In [11]:
conn.sql("SHOW ALL TABLES")

┌──────────┬─────────┬──────────────────┬──────────────────────┬───────────────────────────────────────────┬───────────┐
│ database │ schema  │       name       │     column_names     │               column_types                │ temporary │
│ varchar  │ varchar │     varchar      │      varchar[]       │                 varchar[]                 │  boolean  │
├──────────┼─────────┼──────────────────┼──────────────────────┼───────────────────────────────────────────┼───────────┤
│ mydb     │ main    │ SI_VI_AD0        │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ SI_VI_AD1        │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ SI_VI_RPTR0      │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ SI_VI_RPTR1      │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ TBB              │ [Tiles, ADbc, RPTR…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR, VA…  │ false     │
│ mydb     │ main    │ TBB_INTERSECTION │ [Tile, ADbc, RPTRb…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR]      │ false     │
│ mydb     │ main    │ TBB_UMOD         │ [Tiles, ADbc, RPTR…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR]      │ false     │
└──────────┴─────────┴──────────────────┴──────────────────────┴───────────────────────────────────────────┴───────────┘

In [ ]:
start = time.perf_counter()
conn.sql(""" DROP TABLE IF EXISTS TBB_UMOD  """)
conn.sql(""" CREATE TABLE TBB_UMOD AS
        SELECT Tiles, ADbc, RPTRbc
        FROM TBB
        WHERE RPTRBC IN (
            SELECT RPTRBC
            FROM TBB
            GROUP BY RPTRBC
            HAVING COUNT(DISTINCT TILES) = 1)""")

finish = time.perf_counter()
print(f'finished in {round(finish-start, 2)} seconds')
print(conn.sql("SELECT * FROM TBB_UMOD LIMIT 5"))

#did not finish in >1 hr

In [14]:
# conn.sql("DROP TABLE TBB_NOV2023")
# conn.sql("ALTER TABLE TBB_UNION RENAME TO TBB_INTERSECTION")
# conn.sql(
#     """ALTER TABLE TBB_UMOD
#     ADD TBB VARCHAR""")
conn.sql(
    """UPDATE TBB_UMOD 
    SET TBB = CONCAT_WS('-',TILES, ADBC, RPTRBC);""")

In [16]:
conn.sql("""SELECT * FROM TBB_UMOD LIMIT 1""")

┌──────────────────────┬─────────────┬────────────────┬────────────────────────────────────────────────────────────────┐
│        Tiles         │    ADbc     │     RPTRbc     │                              TBB                               │
│       varchar        │   varchar   │    varchar     │                            varchar                             │
├──────────────────────┼─────────────┼────────────────┼────────────────────────────────────────────────────────────────┤
│ CATAGATCTTCTCCATCT…  │ TCAAGTCGAAC │ CCCCCATCGGCGAG │ CATAGATCTTCTCCATCTGGTCATGATTCTCATTCTGCTACTGATATGGATTTGTTTGAT…  │
└──────────────────────┴─────────────┴────────────────┴────────────────────────────────────────────────────────────────┘

In [27]:
conn.sql("""SELECT TBB FROM TBB_UMOD WHERE ADBC = 'TCAAGTCGAAC'""").df().iloc[0,0]

'CATAGATCTTCTCCATCTGGTCATGATTCTCATTCTGCTACTGATATGGATTTGTTTGATGACTTTACTGCATTTGAAGGTGGTGCTTCTACTAATCAAAATTCATTTCCATCTGCTTAT-TCAAGTCGAAC-CCCCCATCGGCGAG'

In [28]:
countsdf = conn.sql(
    """SELECT COUNT(Tiles), TBB
    FROM TBB_UMOD
    GROUP BY TBB
    ORDER BY COUNT(Tiles) DESC;""").df()

countsdf.head()

   count(Tiles)                                                TBB
0             1  CCATCTTCTGTTGCTGGTGTTAATGCTAGACAAAGGAAACCATTGC...
1             1  CAAGAAGAATTGGTTGATCCACCTAAACCATCTCAATCTCCATTGG...
2             1  GCTAGATCTCATACTGCTGCTACTATTCCACCATTGGACTTCTCTG...
3             1  CATTCTTCTGTTTCTGGTGTTAATTCTAGAAGAAGAGATAAACCAT...
4             1  GCTTCTCCAACTGCTAGATCTTCTATTTCTGGTAGGAAAGGTTCTA...