In [1]:
import time
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv

import duckdb

conn = duckdb.connect('/global/scratch/users/empchase/Seq_analysis/mydb.db') # create an in-memory database

In [11]:
# conn.sql("DROP TABLE IF EXISTS UNION_CURRENT")
# conn.sql("CREATE TABLE UNION_CURRENT AS SELECT * FROM read_parquet('/global/scratch/users/empchase/Seq_analysis/20240123_UNION.parquet');")
conn.sql("SELECT * FROM UNION_CURRENT LIMIT 5")

┌─────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────┐
│                                                 TBB                                                 │     RPTRbc     │
│                                               varchar                                               │    varchar     │
├─────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────┤
│ AATTCTGTTGCTCCAGATACTAGAAGACATTCTGTTCAACATTTGAGATCTCCATCTACTTATCCACAACAAATTCCACAAGATCCAAGAGTTACTA…  │ CGATCCACGCGCCA │
│ ACTACTCATTTGACTTCTCCATTGTCATTCTTTGATTCTCCAAATGATTCTTATGATACTTCTCCATTGTTTGCTCCAGATGATATTACTCAAGATG…  │ CTGATAATGGCGCA │
│ GTTGAATTGCCAGAAGAATTTACTGCATTTGATGGTGGTGCTAATACTGCATTCTCTTCTCCAGCTGTTCCATCTGTCTTTGACTTTGGTGGTTCTT…  │ AAGCCACCCGACGC │
│ TCTCCAGCTACTAATGGTATTTCTAAATCTAGAAGAAGGAAAGGTCCATTGCCAGCTATTGCTGTTGATCCATCTGATAAGATTGCTTTGAAGAGAG…  │ CCGCCCGCAGTACG │
│ GATATCTTTGCTGATGCATTTGGTTCTGCTCCACCATCTGCTGCATTTACTAATTTGACTTCTCCAGATATTGATGCTTCTCCATTCTTGAATGAAT…  │ CCGCCGACCTCTGA │
└─────────────────────────────────────────────────────────────────────────────────────────────────────┴────────────────┘

In [6]:
conn.sql(""" SHOW ALL TABLES """)

┌──────────┬─────────┬──────────────────┬──────────────────────┬───────────────────────────────────────────┬───────────┐
│ database │ schema  │       name       │     column_names     │               column_types                │ temporary │
│ varchar  │ varchar │     varchar      │      varchar[]       │                 varchar[]                 │  boolean  │
├──────────┼─────────┼──────────────────┼──────────────────────┼───────────────────────────────────────────┼───────────┤
│ mydb     │ main    │ SI_VI_AD0        │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ SI_VI_AD1        │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ SI_VI_RPTR0      │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ SI_VI_RPTR1      │ [index, BCs, TBB, …  │ [VARCHAR, BIGINT, VARCHAR, VARCHAR]       │ false     │
│ mydb     │ main    │ TBB              │ [Tiles, ADbc, RPTR…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR, VA…  │ false     │
│ mydb     │ main    │ TBB_INTERSECTION │ [Tile, ADbc, RPTRb…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR]      │ false     │
│ mydb     │ main    │ TBB_UMOD         │ [Tiles, ADbc, RPTR…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR]      │ false     │
│ mydb     │ main    │ UNION_CURRENT    │ [TBB, RPTRbc]        │ [VARCHAR, VARCHAR]                        │ false     │
└──────────┴─────────┴──────────────────┴──────────────────────┴───────────────────────────────────────────┴───────────┘

In [16]:
# start = time.perf_counter()
# conn.sql(""" DROP TABLE IF EXISTS TBB_UMOD_PRE  """)
# conn.sql(""" DROP TABLE IF EXISTS TBB_UMOD  """)
# conn.sql(""" CREATE TABLE TBB_UMOD AS
#         SELECT DISTINCT Tiles, ADbc, RPTRbc
#         FROM TBB
#         WHERE RPTRBC IN (
#             SELECT RPTRBC
#             FROM TBB
#             GROUP BY RPTRBC
#             HAVING COUNT(DISTINCT TILES) = 1)""")

# finish = time.perf_counter()
# print(f'finished in {round(finish-start, 2)} seconds')
# print(conn.sql("SELECT * FROM TBB_UMOD LIMIT 5"))

finished in 28.09 seconds
┌───────────────────────────────────────────────────────────────────────────────────────┬─────────────┬────────────────┐
│                                         Tiles                                         │    ADbc     │     RPTRbc     │
│                                        varchar                                        │   varchar   │    varchar     │
├───────────────────────────────────────────────────────────────────────────────────────┼─────────────┼────────────────┤
│ CATAGATCTTCTCCATCTGGTCATGATTCTCATTCTGCTACTGATATGGATTTGTTTGATGACTTTACTGCATTTGAAGGTGG…  │ TCAAGTCGAAC │ CCCCCATCGGCGAG │
│ ATTAATGGTGCTGCTATGACTCCATCTTTGTCTAGAAGATCTTCTTCTCCAGGTTCTTCTCCAAGATCTGGTGCTAGGAAACA…  │ TAACAATTAAG │ GAGTTGTGCCTGGT │
│ TCTAATTTGTCTCCAGACTTCTTGTTGTCTTTGGCTGCTCAACAGAAACAAATGTATATTGGTTCTAATAAACCATTGGGTAA…  │ TCGGTACGACT │ ATAACGACTTTTCC │
│ ACTCATGATACTGGTTGTGCTGCTACTTCTACTGTTACTTCTTCTTGGTTGCCATCTAAGAGATTGGCTCCAGCTACTTTGGA…  │ CTCTCTTTTCG │ CCCGTCCTGGAGTT │
│ AGAAGAAGATCTTCTTCTTCTCCAAGAATTGATGAATTTGGTATTGTTGCTTATTCTAGGAAACCAAGATCTCAACCATTGAA…  │ ATGAAAATATC │ GGATTTGTGTCGAC │
└───────────────────────────────────────────────────────────────────────────────────────┴─────────────┴────────────────┘

In [22]:
# conn.sql("""SELECT 
# (SELECT COUNT(DISTINCT TBB) FROM TBB) AS TBB_C,
# (SELECT COUNT(RPTRBC) FROM TBB_UMOD) AS TBB_UMOD_C
# """) #DEEP1UNIQ COUNT MATCHES WHEN I USED SELECT DISTINCT, CHECK

┌──────────┬────────────┐
│  TBB_C   │ TBB_UMOD_C │
│  int64   │   int64    │
├──────────┼────────────┤
│ 28241827 │   23511588 │
└──────────┴────────────┘

In [23]:
# 28241827 - 23511588 
# #28M DISTINCT ENTRIES IN TBB VS 23M DISTINCT ENTRIES IN UMOD: ~5M INSTANCES WHERE RPTRBC MAPS TO >1TILE

4730239

In [25]:
# conn.sql(""" SELECT RPTRBC, COUNT(RPTRBC)
# FROM TBB_UMOD
# GROUP BY RPTRBC
# HAVING COUNT(DISTINCT TILES) > 1;""")

┌─────────┬───────────────┐
│ RPTRbc  │ count(RPTRBC) │
│ varchar │     int64     │
├─────────────────────────┤
│         0 rows          │
└─────────────────────────┘

In [26]:
# conn.sql(""" SELECT RPTRBC, COUNT(DISTINCT RPTRBC)
# FROM TBB_UMOD
# GROUP BY RPTRBC
# HAVING COUNT(DISTINCT RPTRBC) >1;""")

┌─────────┬────────────────────────┐
│ RPTRbc  │ count(DISTINCT RPTRBC) │
│ varchar │         int64          │
├──────────────────────────────────┤
│              0 rows              │
└──────────────────────────────────┘